@tailwind base;
@tailwind components;
@tailwind utilities;

/* font Imports */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;700&family=Open+Sans:wght@300;400;600;700&family=Roboto+Serif:opsz,wght@8..144,400;8..144,500&family=Roboto:wght@400;500&display=swap");
/* Global Variables */

:root {
	--font-primary: "Montserrat";
	--font-secondary: "Open Sans";
	--font-3: "Roboto Serif";
	--font-4: "Roboto";
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
